@import url('https://fonts.googleapis.com/css2?family= Outfit: wght @400;700 & display=swap');

* {
margin: 0;
padding: 0;
}

body {
    font-family: 'Outifit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex; 
    align-items: center;
    font-size: 15px;
}
 
.container{
    max-width: 350px;
    margin: 0 auto;
    
}

.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 17px;
    padding: 18px;
    text-align: center;
    margin: 0, 1rem;
}

.card img{
    width: 100%;
    border-radius: 12px;

}

.text{
    padding: 22px 10px;
}

.text h2{
    padding-bottom: 15px;
    color: hsl(218, 44%, 22%);
}

.text p{
    padding: 10px;
    color: hsl(220, 15%, 55%);
}